body {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0 0 32px 0;
    width: auto !important;
}

.row {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-bottom: 40px;
}

form {
    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .col-md-6 {
    width: 320px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], select {
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#password, .mb-password {
    margin-bottom: 0 !important;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.password-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
}

#label-username {
    margin-top: 1px;
}

#contact {
    margin-bottom: 0 !important;
}

#contact_number {
    margin-top: 5px;
    margin-bottom: 0 !important;
}

.input-group-text {
    height: 40px;
    margin-top: 5px;
}

.col-nric-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#col-nric {
    margin-right: 4px;
    padding: 0;
}

#col-name {
    margin-left: 8px;
    padding: 0;
}

.form-button{width: fit-content;}
