{% extends 'base.html' %}

{% block content %}
<h1>Welcome, {{ session['username'] }}!</h1>
<h2>Users List</h2>
<a href="/register" class="btn btn-success mb-3">Register New User</a>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
