{% extends 'base.html' %}

{% block content %}
<h1>Staff Dashboard</h1>
<!-- Display Flash Messages -->
<a href="{{ url_for('staff.staff_book_appointment') }}"
    class="btn btn-primary">Add New Appointment</a></td>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="flash-message" class="alert alert-{{ 'success' if category == 'success' else 'danger' }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Apptintment ID</th>
            <th>Patient ID</th>
            <th>Apptintment Date</th>
            <th>Apptintment Time</th>
            <th>Apptintment Status</th>
            <th>Appointment Reason</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment[0] }}</td>  <!-- ApptID -->
            <td>{{ appointment[1] }}</td>  <!-- PatientID -->
            <td>{{ appointment[2] }}</td>  <!-- ApptDate -->
            <td>{{ appointment[3] }}</td>  <!-- ApptTime -->
            <td>{{ appointment[4] }}</td>  <!-- AppStatus -->
            <td>{{ appointment[5] }}</td>  <!-- AppReason -->
            <td><a href="{{ url_for('staff.view_patient', patient_id=appointment[1], appt_id=appointment[0]) }}" class="btn btn-primary">View
                Patient</a></td>
            <td><a href="{{ url_for('staff.edit_appointment', patient_id=appointment[1], appt_id=appointment[0]) }}" class="btn btn-primary">Edit 
                Appointment</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    // Hide the flash message after 3 seconds
    setTimeout(function() {
        const flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
            flashMessage.style.display = 'none';
        }
    }, 3000);  // 3000 ms = 3 seconds
</script>
{% endblock %}
