{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staff_dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="container-content">
    <h1>Staff Dashboard</h1>
    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id="flash-message" class="alert alert-{{ 'success' if category == 'success' else 'danger' }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>UserID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>Contact Number</th>
                <th>Name</th>
                <th>NRIC</th>
                <th>Gender</th>
                <th>Height</th>
                <th>Weight</th>
                <th>DOB</th>
                <th>Medical Conditions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient[0] }}</td>  <!-- UserID -->
                <td>{{ patient[1] }}</td>  <!-- Username -->
                <td>{{ patient[2] }}</td>  <!-- Email -->
                <td>{{ patient[3] }}</td>  <!-- Address -->
                <td>{{ patient[4] }}</td>  <!-- Contact Number -->
                <td>{{ patient[5] }}</td>  <!-- Patient Name -->
                <td>{{ patient[6] }}</td>  <!-- NRIC -->
                <td>{{ patient[7] }}</td>  <!-- Gender -->
                <td>{{ patient[8] }}</td>  <!-- Height -->
                <td>{{ patient[9] }}</td>  <!-- Weight -->
                <td>{{ patient[10] }}</td> <!-- Date of Birth -->
                <td>{{ patient[11] }}</td> <!-- Medical Conditions -->
                <td>
                    <a href="{{ url_for('edit_patient', patient_id=patient[0]) }}" class="btn btn-primary">
                        <i class="bi bi-pencil"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // Hide the flash message after 3 seconds
    setTimeout(function() {
        const flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
            flashMessage.style.display = 'none';
        }
    }, 3000);  // 3000 milliseconds = 3 seconds
</script>

{% endblock %}
